.pass-page-container {
    min-height: 100vh;
    background-image: url('../images/airport2.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.boarding-pass {
    display: grid;
    width: 70%; 
    height: auto; 
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    grid-template-rows: 2fr 10fr 1fr;
    border-radius: 40px;
    overflow: hidden
}

.header, .middle-section, .bottom-section {
    display: grid;
    grid-template-columns: 7fr 2fr;
}

.header, .header-left-column {
    display: grid;
    align-items: center;
}

.header-right-column {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px dotted black;
}

.header-right-column p{
    display: flex;
    font-size: 23px;
    text-align: center;
}

.header {
    background-color: #2563EB;
}

.header-left-column {
    grid-template-columns: 0.5fr 1fr 1fr;
    text-align: center;
}

.header img {
    height: 60px;
    padding-left: 40px;
}

.middle-section {
    background-color: EAE0D5;
}

.middle-section-left-column {
    display: grid;
    padding-left: 5px;
    grid-template-rows: 3fr 1fr;
}

.middle-section-top-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.middle-section-bottom-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}



.top-row-boxes, .bottom-row-boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-row-boxes {
    justify-content: center;
    align-items: center; 
    text-align: left; 
    padding: 10px; 
}


.top-row-boxes, .bottom-row-boxes p {
    line-height: 1.5;
}

.top-row-boxes p {
    font-size: 20px;
}

.top-row-boxes p.from-to {
    font-size: 22px;
    margin-bottom: 0.5;
    margin: 0 0 5px 0;
}

.top-row-boxes p.airports {
    font-size: 26px;
    margin-bottom: 0;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.top-row-boxes p.time {
    font-size: 18px;
    margin: 5px 0;
}

.top-row-box {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
}

.top-row-boxes img {
    width: 70%;
    height: auto;
}

.middle-section-right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-left: 2px dotted black;
}

.middle-section-right-column p{
    font-size: 30px;
}

.bottom-section {
    background-color: #2563EB;
    color: white; 
    text-align: center;
    display: grid;
    grid-template-columns: 8 1.5fr;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.bottom-section-right-column {
    display: flex;
    border-left: 2px dotted black;
}