.hobbies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.postcard {
    width: 45%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    position: relative;
}

.postcard > img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.postcard .stamp-container {
    display: flex;
    position: absolute;
    justify-content: right;
    top: 0;
    right: 0;
}

.postcard .stamp {
    height: 80px;
    width: auto;
    object-fit: cover;
    margin: 0;
}

.postcard-mid {
    width: 35%;
}