.hobbies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.postcard {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
}

.postcard > img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}