
.projects-page {
    background: url("../images/worldmap.jpg") no-repeat center center fixed;
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background-size: cover;       
    background-attachment: fixed; 
    background-color: #f3f3f3;   
    margin: 0;
    padding: 0;
}

.journal-container {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 300px;
    margin-left: 300px;
    background-color: white;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 20px;
    border-style: solid;
}


.journal-entry {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid lightslategray;
}


.journal-entry .main-image-container {
    width: 130px;
    height: 180px;
    flex-shrink: 0;
}

.journal-entry .main-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}


.journal-entry .info-container {

}

.journal-entry .info-container img {
    height: 20px;
    width: 20px;
}

.journal-entry .info-container h2 {
    margin-top: 5px;
    margin-bottom: 8px;
    line-height: 26px;
}

.journal-entry .info-container .info-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.journal-entry .info-container .info-header span {
    color: gray
}

.journal-entry .info-container .time-period {
    margin-top: 0;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
}

.journal-entry .info-container .description{
    margin-top: 1.5;

}